nuds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	NUMISMATIC DESCRIPTION STANDARD (NUDS) DRAFT
	
	SCHEMA TYPE: W3C Schema
	
	VERSION: 2017a
	
	DATE: 20161216
	
	EDITORS: Ethan Gruber, American Numismatic Society
	
	PUBLISHER: American Numismatic Society
	
	PURPOSE: The NUDS schema is an attempt to develop an all-encompassing data model for the 
	transmission of numismatic data (both physical items and coin types).  This is a working draft.
	
	CHANGELOG: 
	20130911: synchronizing aspects of EAD3 and EAC-CPF control into control, such as maintenanceHistory
	20140305: formally added semanticDeclaration, removed categorySet (use localType on subjects), tweaked maintenanceStatus values, added noteSet/note, removed publicationStmt
	20161216: Implemented SigiDoc modifications
	
	For more information about the elements, see http://nomisma.org/nuds

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://nomisma.org/nuds" xmlns="http://nomisma.org/nuds"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
	vc:minVersion="1.1" version="2017a">
	<!-- import default xml and xlink schemas -->
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.loc.gov/standards/xlink/xlink.xsd" id="xlink"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2007/08/xml.xsd" id="xml"/>

	<!--import EpiDoc -->
	<xs:import namespace="http://www.tei-c.org/ns/1.0" schemaLocation="http://www.stoa.org/epidoc/schema/dev/tei-epidoc.xsd" id="tei"/>

	<xs:element name="nuds">
		<xs:annotation>
			<xs:documentation>NUDS: root element of a NUDS document.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="control"/>
				<xs:element ref="descMeta"/>
				<xs:element minOccurs="0" ref="digRep"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="recordType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="conceptual"/>
						<xs:enumeration value="physical"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<!-- ********** control ************ -->
	<xs:element name="control">
		<xs:annotation>
			<xs:documentation>The area of the instance that contains control information about its identity, creation, maintenance, status, and the rules and
				authorities used in the composition of the description. It must contain a unique identifier for the instance within the &lt;recordId&gt; element
				and other associated identifiers may be given in &lt;otherRecordId&gt;. There must be a description of the agency responsible for its creation
				and maintenance in &lt;maintenanceAgency&gt; as well as statements about its current drafting status in &lt;maintenanceStatus&gt; and the
				creation, maintenance, and disposition of the instance in &lt;maintenanceHistory&gt;. The &lt;control&gt; is based on EAC-CPF.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="recordId"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="otherRecordId"/>
				<xs:element ref="maintenanceStatus"/>
				<xs:element ref="maintenanceAgency"/>
				<xs:element ref="maintenanceHistory"/>
				<xs:element ref="publicationStatus"/>
				<xs:element ref="rightsStmt"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="semanticDeclaration"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="recordId">
		<xs:annotation>
			<xs:documentation>The Record ID must be a unique identifier for the record within the data system. It should conform to xs:anyURI since, ideally,
				the ID should be part of the records URI.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute ref="xml:id"/>
					<xs:attributeGroup ref="m.default"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="otherRecordId">
		<xs:annotation>
			<xs:documentation>An element in &lt;control&gt; for the provision of alternative record identifiers to the mandatory identifier in &lt;recordId&gt;
				that may be associated with the NUDS instance. These might include the identifiers of merged NUDS instances representing the same entity or
				those of records that are no longer current but had some part in the history and maintenance of the NUDS instance. It may be combined with the
				@semantic attribute to apply greater semantic meaning by means of RDF properties, which can be implemented when transforming NUDS into
				RDF.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute ref="xml:id"/>
					<xs:attributeGroup ref="m.default"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="maintenanceStatus">
		<xs:annotation>
			<xs:documentation>A required element within &lt;control&gt; that records the current drafting status of an NUDS instance.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="new"/>
							<xs:enumeration value="derived"/>
							<xs:enumeration value="revised"/>
							<xs:enumeration value="cancelled"/>
							<xs:enumeration value="cancelledSplit"/>
							<xs:enumeration value="cancelledReplaced"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publicationStatus">
		<xs:annotation>
			<xs:documentation>The current publication status of the NUDS record may be specified in the &lt;publicationStatus&gt; element. If according to local
				practice the instance is still in the process of being approved for publication, the value should be "inProcess," while if approved for
				publication, the value should be "approved."</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="inProcess"/>
							<xs:enumeration value="approved"/>
							<xs:enumeration value="approvedSubtype"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!-- maintenanceAgency elements -->
	<xs:element name="maintenanceAgency">
		<xs:annotation>
			<xs:documentation>The institution or service responsible for the creation, maintenance, and/or dissemination of the NUDS instance. This must include
				the &lt;agencyName&gt; element and it is recommended to include the optional &lt;agencyCode&gt; and / or &lt;otherAgencyCode&gt; elements as
				well to unambiguously identify the institution or service.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="agencyCode"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="otherAgencyCode"/>
				<xs:element ref="agencyName"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="agencyCode">
		<xs:annotation>
			<xs:documentation>The code that represents the institution or service responsible for the creation, maintenance and/or dissemination of the NUDS
				instance. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="m.data.standardRepository">
					<xs:attribute ref="xml:id"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="otherAgencyCode">
		<xs:annotation>
			<xs:documentation> Alternate code representing the instituion or service responsible for the creation, maintenance, and/or dissemination of the NUDS
				instance. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:NMTOKEN">
					<xs:attribute ref="xml:id"/>
					<xs:attributeGroup ref="nuds_a.localType"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="agencyName">
		<xs:annotation>
			<xs:documentation>The name of the institution or service responsible for the creation, maintenance, and/or dissemination of the NUDS instance.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>

	<!-- maintenanceHistory elements -->
	<xs:element name="maintenanceHistory">
		<xs:annotation>
			<xs:documentation>A required wrapper element within &lt;control&gt; to record the history and creation of the EAC-CPF instance. There must be at
				least one &lt;maintenanceEvent&gt; element, usually recording the creation of the instance, but there may be many other &lt;maintenanceEvent&gt;
				elements documenting the milestone events or activities in the maintenance of the instance. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="maintenanceEvent"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="maintenanceEvent">
		<xs:annotation>
			<xs:documentation>A repeatable event within &lt;maintenanceHistory&gt; that details modification dates and descriptions of changes, including the
				person or process responsible for making the change.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eventType"/>
				<xs:element ref="eventDateTime"/>
				<xs:element ref="agentType"/>
				<xs:element ref="agent"/>
				<xs:element minOccurs="0" ref="eventDescription"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventType">
		<xs:annotation>
			<xs:documentation>The type of maintenance event for the NUDS instance. On first creation, the event type would be "created". A "derived" event type
				is available to indicate that the record was derived from another descriptive system, e.g., to generate a coin type record from a curated
				physical coin record. If revisions are made to an existing NUDS instance, the event type would be "revised". </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="created"/>
							<xs:enumeration value="revised"/>
							<xs:enumeration value="deleted"/>
							<xs:enumeration value="cancelled"/>
							<xs:enumeration value="derived"/>
							<xs:enumeration value="updated"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventDateTime">
		<xs:annotation>
			<xs:documentation>The date and time of the &lt;maintenanceEvent&gt;.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="standardDateTime" type="m.data.standardDateTime" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="agentType">
		<xs:annotation>
			<xs:documentation>The type of agent responsible for modifying the NUDS record: "human" or "machine".</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="human"/>
							<xs:enumeration value="machine"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="agent">
		<xs:annotation>
			<xs:documentation>The name of the agent responsible for the &lt;maintenanceEvent&gt;.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="eventDescription">
		<xs:annotation>
			<xs:documentation>The description of a maintenance event in the life of the NUDS instance. </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>

	<!-- rightsStmt elements -->
	<xs:element name="rightsStmt">
		<xs:annotation>
			<xs:documentation>Statement of rights recording the NUDS record</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element minOccurs="0" ref="copyrightHolder"/>
				<xs:element minOccurs="0" ref="license"/>
				<xs:element minOccurs="0" ref="rights"/>
				<xs:element minOccurs="0" ref="preferCite"/>
				<xs:element minOccurs="0" ref="date"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="copyrightHolder">
		<xs:annotation>
			<xs:documentation>The holder of the copyright of the object, which may be different from the publishing agency defined in the
				&lt;maintenanceAgency&gt; in the &lt;control&gt;.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="license">
		<xs:annotation>
			<xs:documentation>A statement of the metadata license. It is recommended to link to a license provided by Creative Commons or the Open Data
				Commons.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rights">
		<xs:annotation>
			<xs:documentation>A statement regarding the rights of the object. It is recommended to link to a statement on
				rightsstatements.org.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="preferCite">
		<xs:annotation>
			<xs:documentation>A text string that defines the preferred method or format of citation for the NUDS record.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<!-- semanticDeclaration elements -->
	<xs:element name="semanticDeclaration">
		<xs:annotation>
			<xs:documentation>The Semantic Declaration is based on similar declaration elements from EAC-CPF. This is a space for defining prefixes and RDF
				namespaces that are essential components in serializing NUDS to RDF when the @semantic attribute has been applied to a NUDS element (for
				example, otherRecordId). The &lt;semanticDeclaration&gt; requires two elements, &lt;prefix&gt; and &lt;namespace&gt;</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prefix"/>
				<xs:element ref="namespace"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="prefix">
		<xs:annotation>
			<xs:documentation>The &lt;prefix&gt; is a required element in &lt;semanticDeclaration&gt;. It conforms to norms of prefixes in SPARQL or TTL (or XML
				namespaces in RDF/XML). E.g., "dcterms" for Dublin Core Terms.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:QName">
					<xs:attribute ref="xml:id"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace">
		<xs:annotation>
			<xs:documentation>The URI namespace for an RDF ontology, required for &lt;semanticDeclaration&gt;</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:anyURI">
					<xs:attribute ref="xml:id"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<!-- *********** END control ********** -->

	<!-- *********** DESCMETA ********** -->
	<xs:element name="descMeta">
		<xs:annotation>
			<xs:documentation>The Descriptive Metadata element is one of two required elements within &lt;nuds&gt;. It is the container for all descriptive
				metadata containers for an object or typology. &lt;typeDesc&gt; is the only required child element.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="title"/>
				<xs:element minOccurs="0" ref="descriptionSet"/>
				<xs:element minOccurs="0" ref="noteSet"/>
				<xs:element minOccurs="0" ref="subjectSet"/>
				<xs:element ref="typeDesc"/>
				<xs:element minOccurs="0" ref="physDesc"/>
				<xs:element minOccurs="0" ref="undertypeDesc"/>
				<xs:element minOccurs="0" ref="findspotDesc"/>
				<xs:element minOccurs="0" ref="refDesc"/>
				<xs:element minOccurs="0" ref="adminDesc"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="descriptionSet">
		<xs:annotation>
			<xs:documentation>Description Set is a container for an unliminted number of &lt;description&gt; elements in order to provide descriptive prose
				about an object, such as historical or artistic context.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectSet">
		<xs:annotation>
			<xs:documentation>Subject Set is a container for an unliminted number of &lt;subject&gt; elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="subject"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="noteSet">
		<xs:annotation>
			<xs:documentation>Note Set is a container for an unliminted number of &lt;note&gt; elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="note"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="note">
		<xs:annotation>
			<xs:documentation>A note is a child of &lt;noteSet&gt;. Notes are intended to capture brief miscellaneous statements about the NUDS instance. For
				greater historical, artistic, etc. context, use &lt;descriptionSet&gt; instead.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="subject">
		<xs:annotation>
			<xs:documentation>A subject falls within &lt;subjectSet&gt; and is intended to capture arbitrary subject terms related to the object. XLink
				attributes are available to link to subject term URIs in vocabulary systems, such as Wikidata or LSCH. The @semantic attribute enables greater
				semantic meaning to be applied in the transformation of NUDS into RDF, and @localType also enables greater differentiation between types of
				subjects. The @localType is used by Numishare to publish different types of subject facets.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<!-- *********** PHYSDESC ********** -->
	<xs:element name="physDesc">
		<xs:annotation>
			<xs:documentation>The Physical Description element of &lt;descMeta&gt; is a container for the physical characteristics of an object. It should not
				be used for typological records.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" ref="axis"/>
				<xs:element minOccurs="0" maxOccurs="1" ref="channelOrientation"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="chemicalAnalysis"/>
				<xs:element minOccurs="0" maxOccurs="1" ref="conservationState"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="countermark"/>
				<xs:element minOccurs="0" maxOccurs="1" ref="dateOnObject"/>
				<xs:element minOccurs="0" maxOccurs="1" ref="measurementsSet"/>
				<xs:element minOccurs="0" maxOccurs="1" ref="shape"/>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="testmark"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="axis">
		<xs:annotation>
			<xs:documentation>Axis is the orientation of the obverse to the reverse. This element accepts any string (to accommodate clock values, such as
				"6:00", but it is recommended to input an integer value, as only numeric values are indexed into Nomisma for analysis.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="clock"/>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="channelOrientation">
		<xs:annotation>
			<xs:documentation>Definition:</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="clock"/>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="chemicalAnalysis">
		<xs:annotation>
			<xs:documentation>Container element for chemical analyses of an object. It requires &lt;analysisType&gt;, &lt;date&gt; of analysis, and the
				&lt;components&gt; container.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="analysisType"/>
				<xs:element minOccurs="0" ref="description"/>
				<xs:element ref="date"/>
				<xs:element ref="components"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="analysisType">
		<xs:annotation>
			<xs:documentation>Type of &lt;chemicalAnalysis&gt;. It is recommended to implement terms from a controlled list.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="components">
		<xs:annotation>
			<xs:documentation>Container of components of a &lt;chemicalAnalysis&gt;. There may be more than one component, each required a @percentage decimal
				value.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="component" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="component">
		<xs:annotation>
			<xs:documentation>Individual component of a &lt;chemicalAnalysis&gt;. A @percentage attribute is required. The total percentages should not exceed
				100.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="percentage" use="required"/>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="countermark">
		<xs:annotation>
			<xs:documentation>A &lt;countermark&gt; is a physical characteristic, separated from typological description. It may optionally contain
				&lt;obverse&gt; or &lt;reverse&gt; The mark must be encoded in the &lt;symbol&gt; element, which may be included directly within
				&lt;countermark&gt; when the side of the coin cannot be ascertained, or within the obverse or reverse.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="obverse"/>
				<xs:element minOccurs="0" ref="reverse"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="testmark">
		<xs:annotation>
			<xs:documentation>A &lt;testmark&gt; is a physical characteristic, separated from typological description. It may optionally contain &lt;obverse&gt;
				or &lt;reverse&gt; The mark must be encoded in the &lt;symbol&gt; element, which may be included directly within &lt;testmark&gt; when the side
				of the coin cannot be ascertained, or within the obverse or reverse.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="obverse"/>
				<xs:element minOccurs="0" ref="reverse"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<!-- conservationState elements -->
	<xs:element name="conservationState">
		<xs:complexType>
			<xs:sequence>
				<!-- allow either conservationStates group or obverse/reverse encoding -->
				<xs:choice>
					<xs:choice>
						<xs:group ref="m.conservationStates"/>
					</xs:choice>
					<xs:sequence>
						<xs:element ref="obverse"/>
						<xs:element ref="reverse"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:group name="m.conservationStates">
		<xs:sequence>
			<xs:element minOccurs="0" ref="condition"/>
			<xs:element minOccurs="0" ref="wear"/>
			<xs:element minOccurs="0" ref="completeness"/>
			<xs:element minOccurs="0" ref="grade"/>
			<xs:element minOccurs="0" ref="secondaryTreatment"/>
		</xs:sequence>
	</xs:group>

	<xs:element name="condition">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="shape"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="wear">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="completeness">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="grade">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="secondaryTreatment">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<!-- end conservationState elements -->

	<xs:element name="dateOnObject">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="date"/>
					<xs:element ref="dateRange"/>
				</xs:choice>
				<xs:element minOccurs="0" ref="era"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="era">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<!-- measurements -->
	<xs:element name="measurementsSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" ref="diameter"/>
				<xs:element minOccurs="0" ref="height"/>
				<xs:element minOccurs="0" ref="thickness"/>
				<xs:element minOccurs="0" ref="weight"/>
				<xs:element minOccurs="0" ref="width"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="diameter">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:decimal"/>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
					<xs:attribute ref="xml:lang"/>
					<xs:attributeGroup ref="m.default"/>
					<xs:attributeGroup ref="nuds_a.dimensions.attributes"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="height">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:decimal"/>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
					<xs:attribute ref="xml:lang"/>
					<xs:attributeGroup ref="m.default"/>
					<xs:attributeGroup ref="nuds_a.dimensions.attributes"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="thickness">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:decimal"/>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
					<xs:attribute ref="xml:lang"/>
					<xs:attributeGroup ref="m.default"/>
					<xs:attributeGroup ref="nuds_a.dimensions.attributes"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="weight">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:decimal"/>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
					<xs:attribute ref="xml:lang"/>
					<xs:attributeGroup ref="m.default"/>
					<xs:attributeGroup ref="nuds_a.dimensions.attributes"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="width">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="xs:anyType">
					<xs:simpleType>
						<xs:restriction base="xs:decimal"/>
					</xs:simpleType>
					<xs:attribute ref="xml:id"/>
					<xs:attribute ref="xml:lang"/>
					<xs:attributeGroup ref="m.default"/>
					<xs:attributeGroup ref="nuds_a.dimensions.attributes"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<!-- end measurements -->

	<xs:element name="shape">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<!-- ************* END PHYSDESC ************** -->

	<!-- ************* TYPEDESC ************** -->
	<xs:element name="typeDesc">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="m.typeElements"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:group name="m.typeElements">
		<xs:sequence>
			<!-- only objectType is required -->
			<!-- only material may be repeated -->
			<xs:element minOccurs="0" ref="objectType"/>
			<xs:choice>
				<xs:element minOccurs="0" ref="date"/>
				<xs:element minOccurs="0" ref="dateRange"/>
			</xs:choice>
			<xs:element minOccurs="0" ref="denomination"/>
			<xs:element minOccurs="0" ref="manufacture"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="material"/>
			<xs:element minOccurs="0" ref="authority"/>
			<xs:element minOccurs="0" ref="geographic"/>
			<xs:element minOccurs="0" ref="obverse"/>
			<xs:element minOccurs="0" ref="reverse"/>
			<xs:element minOccurs="0" ref="edge"/>
			<xs:element minOccurs="0" ref="weightStandard"/>
		</xs:sequence>
	</xs:group>

	<xs:element name="objectType">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="denomination">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="manufacture">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="material">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<!-- personal, family, corporate, and geographic names -->
	<xs:element name="persname">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="geogname">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="corpname">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="famname">
		<xs:complexType mixed="true">
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="authority">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="persname"/>
				<xs:element ref="corpname"/>
				<xs:element ref="famname"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:element name="geographic">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="geogname"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="edge">
		<xs:complexType mixed="false">
			<xs:choice minOccurs="1">
				<xs:element ref="description"/>
				<xs:group ref="m.typeLegend"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:group name="m.sideCharacteristics">
		<xs:sequence>
			<xs:choice>
				<xs:element minOccurs="0" ref="date"/>
				<xs:element minOccurs="0" ref="dateRange"/>
			</xs:choice>
			<xs:choice minOccurs="1">
				<xs:element ref="description"/>
				<xs:group ref="m.typeLegend"/>
			</xs:choice>
			<xs:element minOccurs="0" ref="typeSeries"/>
			<xs:element minOccurs="0" ref="symbol"/>
			<xs:element minOccurs="0" ref="die"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="persname"/>
			<xs:element minOccurs="0" ref="reference"/>
		</xs:sequence>
	</xs:group>

	<xs:group name="m.typeLegend">
		<xs:sequence>
			<xs:element minOccurs="0" ref="legend"/>
			<xs:element minOccurs="0" ref="type"/>
		</xs:sequence>
	</xs:group>

	<xs:element name="type">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="description"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="legend">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="tei:div"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="nuds_a.scriptCode"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="typeSeries">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="symbol">
		<xs:annotation>
			<xs:documentation>A symbolic character, pictograph, or monogram appearing on a coin. The symbol type can be defined by @localType attributes on a
				project-by-project basis. Use XLink attributes to link to URIs that define symbols in thesaurus systems. The semantic attribute can be used to
				enforce stronger semantic meaning by means of RDF properties from the Nomisma ontology (e.g., nmo:hasMonogram). The @position attribute may be used for arbitrary definitions of position on the coin.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attribute name="position">
				<xs:annotation>
					<xs:documentation>Position of a symbol on a coin. Positions may follow standard terminology as tokens or URIs, e.g., "exergue".</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:anyURI"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="die">
		<xs:annotation>
			<xs:documentation>The indentifier for a die relating to obverse or reverse type. Use XLink attributes to link to dies defined in thesaurus
				systems.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="state" use="required">
				<xs:annotation>
					<xs:documentation>Present physical state of the die.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute ref="xml:id"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="weightStandard">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<!-- ************* END TYPEDESC ************** -->

	<xs:element name="undertypeDesc">
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="m.typeElements"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<!-- ************* FINDSPOT ************** -->
	<xs:element name="findspotDesc">
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Findspot Description. The findspotDesc may contain anything in the NUDS-Hoard hoardDesc: typically a findspot/geogname.
						This element may use XLink attributes to point directly to a record with more information about the findspot, e.g., a URI defining a
						coin hoard.</xs:documentation>
				</xs:annotation>
				<xs:element minOccurs="0" ref="findspot"/>
				<xs:element minOccurs="0" ref="deposit"/>
				<xs:element minOccurs="0" ref="discovery"/>
				<xs:element minOccurs="0" ref="disposition"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="findspot">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="geogname"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="deposit">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="date"/>
					<xs:element ref="dateRange"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="discovery">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="date"/>
					<xs:element ref="dateRange"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="disposition">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<!-- ************* END FINDSPOT ************** -->
	<!-- ************* REFERENCES ************** -->
	<xs:element name="refDesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="reference"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<!-- ********** ADMINDESC ********** -->
	<xs:element name="adminDesc">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="1" maxOccurs="unbounded">
					<xs:element ref="identifier"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" ref="department"/>
					<xs:element ref="collection"/>
					<xs:element ref="repository"/>
					<xs:element ref="physloc"/>
					<xs:element ref="owner"/>
					<xs:element ref="acknowledgment"/>
					<xs:element ref="display"/>
					<xs:element ref="appraisal"/>
				</xs:choice>
				<xs:sequence>
					<xs:element minOccurs="0" ref="acqinfo"/>
					<xs:element minOccurs="0" ref="custodhist"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="identifier">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="department">
		<xs:annotation>
			<xs:documentation>The administrative department to which an object belongs, e.g., "Greek" or "Islamic." Departments can vary widely by institution.
				XLink attributes may be used to link to Fields of Numismatics as defined by Nomisma.org.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="collection">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="repository">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="physloc">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="owner">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="acknowledgment">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="display">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="institution"/>
					<xs:element ref="location"/>
				</xs:choice>
				<xs:element minOccurs="0" ref="label"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attribute name="onDisplay" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="institution">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="label">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="appraisal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="date"/>
				<xs:element ref="appraiser"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="appraiser">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<!-- provenience: acquisition -->
	<xs:element name="acqinfo">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="date"/>
					<xs:element ref="dateRange"/>
				</xs:choice>
				<xs:element ref="acquiredFrom"/>
				<xs:group ref="m.provenance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="method">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="acquiredFrom">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<!-- previous collections -->
	<xs:element name="custodhist">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="description"/>
					<xs:element ref="chronlist"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="chronlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="chronitem"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="chronitem">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="date"/>
					<xs:element ref="dateRange"/>
				</xs:choice>
				<xs:element ref="previousColl"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="previousColl">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:choice>
					<xs:element ref="description"/>
					<xs:sequence>
						<xs:group ref="m.provenance"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:group name="m.provenance">
		<xs:sequence>
			<xs:element minOccurs="0" ref="method"/>
			<xs:element minOccurs="0" ref="saleCatalog"/>
			<xs:element minOccurs="0" ref="saleItem"/>
			<xs:element minOccurs="0" ref="salePrice"/>
		</xs:sequence>
	</xs:group>

	<!-- sale/lot -->
	<xs:element name="saleCatalog">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="saleItem">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="salePrice">
		<xs:complexType mixed="true">
			<xs:attribute name="currency" use="required" type="xs:NCName"/>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<!-- ********** END ADMINDESC ********** -->

	<!-- ********** COMMONLY REPEATED ELEMENTS ********** -->
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="nuds_a.localType"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="description">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="ab"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="ab">
		<xs:complexType mixed="true">
			<xs:complexContent mixed="true">
				<xs:extension base="tei:tei_macro.paraContent">
					<xs:attribute ref="xml:id"/>
					<xs:attribute ref="xml:lang"/>
					<xs:attributeGroup ref="m.default"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="obverse">
		<xs:complexType>
			<xs:sequence>
				<!-- obverse/reverse can contain metadata about conservationState or characteristics under typeDesc/undertypeDesc -->
				<xs:choice>
					<xs:choice>
						<xs:group ref="m.conservationStates"/>
					</xs:choice>
					<xs:choice>
						<xs:group ref="m.sideCharacteristics"/>
					</xs:choice>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reverse">
		<xs:complexType>
			<xs:sequence>
				<!-- obverse/reverse can contain metadata about conservationState or characteristics under typeDesc/undertypeDesc -->
				<xs:choice>
					<xs:choice>
						<xs:group ref="m.conservationStates"/>
					</xs:choice>
					<xs:choice>
						<xs:group ref="m.sideCharacteristics"/>
					</xs:choice>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="reference">
		<xs:annotation>
			<xs:documentation>(bibliographic citation) contains a loosely-structured bibliographic or electronic citation of which the sub-components may or may
				not be explicitly tagged. Xlink and semantic attributes are available to link to HTTP resources.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="tei:tei_model.gLike"/>
				<xs:group ref="tei:tei_model.highlighted"/>
				<xs:group ref="tei:tei_model.pPart.data"/>
				<xs:group ref="tei:tei_model.pPart.edit"/>
				<xs:group ref="tei:tei_model.segLike"/>
				<xs:group ref="tei:tei_model.ptrLike"/>
				<xs:group ref="tei:tei_model.biblPart"/>
				<xs:group ref="tei:tei_model.global"/>
			</xs:choice>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="xlink:simpleLink"/>
		</xs:complexType>
	</xs:element>

	<!-- ********** END DESCMETA ********** -->

	<xs:element name="digRep">
		<xs:complexType>
			<xs:sequence>
				<xs:any processContents="skip"/>
			</xs:sequence>

			<xs:attribute ref="xml:id"/>
		</xs:complexType>
	</xs:element>

	<!-- ********** DATES ********** -->
	<!-- ******* SimpleTypes ******* -->
	<xs:simpleType name="m.data.standardDateTime">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:date">
					<xs:maxInclusive value="2099-12-31"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:gYear">
					<xs:maxInclusive value="2099"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:gYearMonth">
					<xs:maxInclusive value="2099-12"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:dateTime">
					<xs:maxInclusive value="2099-12-31T23:59:59"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="m.data.standardDate">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:date">
					<xs:maxInclusive value="2099-12-31"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:gYear">
					<xs:maxInclusive value="2099"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:gYearMonth">
					<xs:maxInclusive value="2099-12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<!-- dates -->
	<xs:element name="date">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="nuds_a.dimensions.attribute.precision"/>
			<xs:attributeGroup ref="m.dateSingle"/>
		</xs:complexType>
	</xs:element>

	<xs:attributeGroup name="m.dateSingle">
		<xs:attribute name="standardDate" type="m.data.standardDate"/>
		<xs:attribute name="notBefore" type="m.data.standardDate"/>
		<xs:attribute name="notAfter" type="m.data.standardDate"/>
	</xs:attributeGroup>

	<xs:element name="dateRange">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fromDate"/>
				<xs:element ref="toDate"/>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="m.default"/>
			<xs:attributeGroup ref="nuds_a.dimensions.attribute.precision"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="fromDate">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="nuds_a.dimensions.attribute.precision"/>
			<xs:attributeGroup ref="m.dateSingle"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="toDate">
		<xs:complexType mixed="true">
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="nuds_a.dimensions.attribute.precision"/>
			<xs:attributeGroup ref="m.dateSingle"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="dateSet">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="date"/>
					<xs:element ref="dateRange"/>
				</xs:choice>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="date"/>
					<xs:element ref="dateRange"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute ref="xml:id"/>
			<xs:attribute ref="xml:lang"/>
			<xs:attributeGroup ref="nuds_a.dimensions.attribute.precision"/>
			<xs:attributeGroup ref="nuds_a.localType"/>
		</xs:complexType>
	</xs:element>

	<xs:group name="m.dates">
		<xs:choice>
			<xs:element ref="date"/>
			<xs:element ref="dateRange"/>
			<xs:element ref="dateSet"/>
		</xs:choice>
	</xs:group>
	<!-- ********** END DATES ********** -->

	<!-- ********** ATTRIBUTES/DATA TYPES ********** -->
	<xs:attribute name="percentage">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:maxInclusive value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>

	<xs:attribute name="clock">
		<xs:annotation>
			<xs:documentation>Clock designation for &lt;axis&gt; or &lt;channelOrientation&gt;</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:attribute>

	<xs:attributeGroup name="nuds_a.dimensions.attributes">
		<xs:attributeGroup ref="nuds_a.dimensions.attribute.precision"/>
		<xs:attributeGroup ref="nuds_a.dimensions.attribute.unit"/>
	</xs:attributeGroup>

	<xs:attributeGroup name="nuds_a.dimensions.attribute.precision">
		<xs:attribute name="precision">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="low"/>
					<xs:enumeration value="medium"/>
					<xs:enumeration value="high"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:attributeGroup name="nuds_a.dimensions.attribute.unit">
		<xs:attribute name="units">
			<xs:annotation>
				<xs:documentation>Names the unit used for the measurement. Suggested values include: 1] g; 2] cm; 3] mm</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:union>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="g"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="cm"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="mm"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:attributeGroup name="m.default">
		<xs:attributeGroup ref="nuds_a.localType"/>
		<xs:attribute name="resp">
			<xs:annotation>
				<xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or
					transcriber.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction>
					<xs:simpleType>
						<xs:list itemType="xs:anyURI"/>
					</xs:simpleType>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="certainty">
			<xs:annotation>
				<xs:documentation>designates the level of certainty regarding a statement. Recommended values are tokens or URIs connected to uncertainty types
					defined by Nomisma.org.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction>
					<xs:simpleType>
						<xs:list itemType="xs:anyURI"/>
					</xs:simpleType>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="semantic">
			<xs:annotation>
				<xs:documentation>an RDF property (e.g., nuds:reference[@semantic='nmo:hasTypeSeriesItem']) to lend greater semantic meaning or differentiation.
					The prefix of this property should be defined by semanticDeclaration, in the NUDS control.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction>
					<xs:simpleType>
						<xs:list itemType="xs:anyURI"/>
					</xs:simpleType>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:attributeGroup name="nuds_a.scriptCode">
		<xs:annotation>
			<xs:documentation>four letter script code conforming to ISO 15924 (e.g., Latn = Latin).</xs:documentation>
		</xs:annotation>
		<xs:attribute name="scriptCode">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Z][a-z]{3}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>

	<xs:simpleType name="m.data.standardRepository">
		<xs:annotation>
			<xs:documentation>repository code which could conform to the MARC Code List for Organizations standard
				(http://www.loc.gov/marc/organizations/).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="(([A-Z]{2})|([a-zA-Z]{1})|([a-zA-Z]{3,4}))(-[a-zA-Z0-9:/\-]{1,11})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:attributeGroup name="nuds_a.localType">
		<xs:attribute name="localType" type="xs:anyURI">
			<xs:annotation>
				<xs:documentation>generic type attribute used to differentiate the meaning of the same element within a NUDS document.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<!-- ********** END ATTRIBUTES ********** -->

</xs:schema>
